<!DOCTYPE html>
<html lang={{{ language }}}>

<head>
  <meta charset={{{charset}}}>
  <meta name="viewport" content={{{ viewport }}}>
  <link rel="stylesheet" href={{{ stylesheet }}}">
  <title> {{{ title }}} </title>
</head>

<body>

  {{{template}}}
  {{{ instance }}}
</body>

</html>